@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #3c6e71;
    --color-text: #511313;
    --color-tint: #2d9cdb;
    --color-icon: #687076;
    --color-secondary-text: #9ba1a6;
  }

  .dark {
    --color-background: #061f20;
    --color-text: #aac7b6;
    --color-tint: #ffffff;
    --color-icon: #9ba1a6;
    --color-secondary-text: #aac7b6;
  }
}
